*{
	margin: 0;
	padding: 0;
}
body {
	
	background-image: url(pattern.jpg);
 
}
nav{
	display: flex;
	background-color: white;
	justify-content: space-between;
	padding: 15px;
	position: sticky;
}
nav ul{
	display: flex;
	list-style-type: none;
	width: 15%;
	justify-content: space-between;
	margin-top: : 15px;

}
 nav ul li {
	color: blue;

	}
/*
body {
	background-image:  url("pattern.jpg");
	margin: 0;
	padding:0;
	background-size: cover;
 
}
header{
	
	background-color: white;
	display:flex;
	justify-content: space-between;
	padding-right: 100px;
	
}
nav{
	background-color: white;
	top:0;
	padding: 0;
	position: sticky;
}
nav-brand{
	width: 100px;
}

nav ul li {
	list-style: none;
	margin-right: 20px;
	position: relative;
	display: inline;
	color: blue;

	}



h1{
	color:black;
	text-align: center;
}

*/
#article-list{
	background-color: white;
	margin: 60px;
  	padding: 60px;
}
.box1{
	margin: 10px;
  	padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}
.box2{
	margin: 10px;
  	padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}
.box3{
	margin: 10px;
  	padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}
.box4{
	margin: 10px;
  	padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}
.box5{
	margin: 10px;
  	padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}

.footer {
  background-color: black;
  padding: 5px;
  text-align: center;
  color: white;


}


